* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: white;
}

.topo {
    width: 100%;
    height: 80px;
    background-color: aquamarine;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 54px;
    height: 68px;
}

menu {
    display: flex;
    gap: 56px;
}

menu li {
    list-style-type: none;
}

menu li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

menu li a:visited {
    color: white;
}

menu li a:hover {
    color: red;
    transition: 0, 50s;
}

main {
    width: 1280px;
    margin: 0 auto;
}

a.btn:link,
a.btn:visited {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 32px;
    background-color: black;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

a.btn:hover {
    color: red;
    transition: 0.5s;
}

main {
    min-height: 540px;
    display: flex;
    align-items: center;
}

.produtos {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.imagem {
    width: 198px;
    width: 198px;
}

.imagem img {
    width: 100%;
}

.produto {
    width: 238px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

.decriçao {
    display: flex;
    justify-content: center;
    align-items: start;
}

.patrocinio {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.pat-logo {
    width: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1280px;
    min-height: 600px;
    justify-content: center;
    margin: 20px auto;
}

.noticia {
    width: 100%;
    display: flex;
}

.noticia img {
    width: 100%;
}

.texto {
    width: 1280px;
}

.escolhas {
    width: 1280px;
    display: flex;
    gap: 15px;
    padding: 23px;
}

.noticia1 {
    width: 100%;
    display: flex;
    width: 500px;
    height: 375px;
}

.noticia1 img {
    width: 1280%;
}

.fundo {
    background-image: url(../imagen/torrcida.jpg);
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    width: 3202;
}